.login {
  width: 400px;
  height: 300px;
  border: solid;
  border-radius: 3%;
}

.flex {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.L-text1 {
  text-align: center;
  color: White;
}

.L-text2{
    text-align: center;
}

.header_color {
  background-color: #40423a;
}

.form-box {
  border: groove;
  height: 30px;
  cursor: text;
  padding-left: 4px;
}

.content-flex {
height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space {
    padding-top: 20px;
}